

      <div class="side">
        <div class="logo text-center theme">
          <h1>LOGO HERE</h1>
        </div>
        <div class="lines mt-5">
          <ul>
            <li routerLinkActive="active"><a routerLink="/all_products"><i class="fa fa-dashboard"></i><span>All Products</span></a></li>
            <li routerLinkActive="active"><a routerLink="/add_new_product"><i class="fa fa-archive"></i><span>Add New Products</span></a></li>
            <li routerLinkActive="active"><a routerLink="/inventory"><i class="fa fa-archive"></i><span>Inventory</span></a></li>
            <li routerLinkActive="active"><a routerLink="/reports"><i class="fa fa-line-chart"></i><span>Reports</span></a></li>
          </ul>
          <ul>
            <li class="end"><a routerLink="/login"><i class="fa fa-arrow-left"></i><span>Logout</span></a></li>
          </ul>
        </div>
      </div>

